html,
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
}
.view{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    flex-direction: column;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: groove ghostwhite;
    width: 250px;
    height: 200px;
    margin: 10px;
    padding:1;
}
.inner-card{
    margin: 1;
    flex-direction: row;
    align-content: space-around;
}
.card-item{
    border: solid ghostwhite;
    border-radius: 5%;
    height: 100%;
    width: 50%;    
}
.card-header-footer{
    margin:1;
    background: rebeccapurple;
    color: white;
    width: 100%;
    max-height: 20%;
    text-align: center;
    font-size: 14pt;    
}
.image{
    align-self: center;
    max-height: 90%;
    max-width: 90%;
}
.card-text{
    text-align: center;
    font-size: 10pt;
}
.expertise{
    text-align: center;
    font-size: 11pt;
}
.tags{
    text-align: center;
    font-size: 9pt;
}